<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="hot79334_aha_saleConnectionString" connectionString="Data Source=db,1433;Initial Catalog=ahasale_local;Persist Security Info=True;User ID=sa;Password=AhaSaleLocal#2026;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="hot79334_aha_saleConnectionString1" connectionString="Data Source=db,1433;Initial Catalog=ahasale_local;Persist Security Info=True;User ID=sa;Password=AhaSaleLocal#2026;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="hot79334_aha_saleConnectionString2" connectionString="Data Source=db,1433;Initial Catalog=ahasale_local;Persist Security Info=True;User ID=sa;Password=AhaSaleLocal#2026;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="hot79334_aha_saleConnectionString3" connectionString="Data Source=db,1433;Initial Catalog=ahasale_local;Persist Security Info=True;User ID=sa;Password=AhaSaleLocal#2026;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
		<system.web>
			<globalization culture="vi-VN" uiCulture="vi-VN" />
			<compilation debug="true" batch="false" targetFramework="4.7.2">
				<assemblies>
					<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
					<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				</assemblies>
			</compilation>
			
			<!--<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx" />-->
			<!--trên host sửa lại như ghi chú ở trên-->
			<customErrors mode="Off" />
			<machineKey
				validationKey="FCA6FEA9D4441D4C7777E5E6411D5B9D17A80BE2FD76811C78F4E679DB49FC4E8C4F90CBDB8A763EA1B6EE5D252D397CA1D7A76EA41AE1E52B4072CD350CDB82"
				decryptionKey="32C9068D73E3A30CF4F942F2700DB61E88499465523DA7C96E29C56F695EF449"
				validation="HMACSHA256"
				decryption="AES" />
	
			<httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="307200" executionTimeout="600" />
			<pages validateRequest="true" /><!--false: cho phép nhập ký tự html-->
		</system.web>
	<appSettings >
		<add key="SmtpServer"  value="smtp.example.local"  />
		<add key="SmtpPort"  value="1025"  />
		<add key="EmailPassword"  value="CHANGE_ME_LOCAL"  />
		<add key="USDTBridge.Enabled" value="true" />
		<add key="USDTBridge.ApiKey" value="44ccb9c5d8a6bae7013be0baa234033ed1bcb754a7b9a403" />
		<add key="USDTBridge.ApiKeys" value="44ccb9c5d8a6bae7013be0baa234033ed1bcb754a7b9a403" />
		<add key="USDTBridge.RequireHmacSignature" value="true" />
		<add key="USDTBridge.SigningSecret" value="27f6834f5652d2cecbd0e0415581ac9217d8d6d2cbf8e445c0fd4a31b723b6de" />
		<add key="USDTBridge.MaxClockSkewSeconds" value="90" />
		<add key="USDTBridge.RequireHttps" value="false" />
		<add key="USDTBridge.RequireJsonContentType" value="false" />
		<add key="USDTBridge.MaxRequestBodyBytes" value="16384" />
		<add key="USDTBridge.TrustProxyHeaders" value="false" />
		<add key="USDTBridge.EnforceSourceIpAllowList" value="false" />
		<add key="USDTBridge.SourceIpAllowList" value="127.0.0.1,::1" />
		<add key="USDTBridge.MaxRequestsPerMinutePerIp" value="120" />
		<add key="USDTBridge.NonceTtlHours" value="48" />
		<add key="USDTBridge.AllowedChain" value="BSC" />
		<add key="USDTBridge.DepositAddress" value="0x5bAc2C00768c6Ac963e6770F7490770acA6d1F6d" />
		<add key="USDTBridge.TokenContract" value="0xb793a86d67fb7c58e6689a3630b7218436074099" />
			<add key="USDTBridge.MinConfirmations" value="20" />
			<add key="USDTBridge.PointRatePerUSDT" value="1" />
			<add key="USDTBridge.PointRatePerToken" value="1" />
			<add key="USDTBridge.MinUSDTPerTx" value="0.01" />
			<add key="USDTBridge.MinTokenPerTx" value="0.01" />
			<add key="USDTBridge.MaxUSDTPerTx" value="100000" />
			<add key="USDTBridge.MaxTokenPerTx" value="100000" />
		<add key="USDTBridge.StrictTxHashFormat" value="true" />
		<add key="USDTBridge.StrictAddressFormat" value="true" />
		<add key="USDTBridge.TreasuryAccount" value="vitong_usdt_test_20260303" />
		<add key="USDTBridge.BridgeSourceWallet" value="usdt_bridge" />
			<add key="USDTBridge.StrictWalletOnlyMinting" value="true" />
			<add key="HanhViGhiNhan.UuDai.MinMinutes" value="0" />
			<add key="Aha.TimeZoneId" value="Asia/Ho_Chi_Minh" />
		</appSettings >
	<system.codedom>
		<!-- Keep Roslyn provider for newer C# syntax used by current source -->
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	
	<!-- IIS-only section removed for Mono local stack -->



</configuration>
